html, body {padding:0; margin:0;}
#navbar2 ul {
    display: none;
    background-color: #f90;
    position: absolute;
    height: 800px;
    top: 100%;
}
#navbar2 li:hover ul { display: block; }
#navbar2, #navbar2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar2 {
    height: 30px;
    background-color: #61d2ff;
    padding-left: 25px;
    margin-top: 15px;
    min-width: 100px;
}

#navbar2 li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar2 li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar2 ul li { float: none; }
#navbar2 li:hover { background-color: #f90; }
#navbar2 ul li:hover { background-color: #666; }





#input_navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}
#input_navbar li:hover ul { display: block; }
#input_navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#input_navbar {
    height: 30px;
    background-color: #61d2ff;
    min-width: 100px;
}

#input_navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#input_navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#input_navbar ul li { float: none; }
#input_navbar li:hover { background-color: #f90; }
#input_navbar ul li:hover { background-color: #666; }

.layer[name = "InputField"] {
    overflow: auto; /* Добавляем полосы прокрутки */
    width: 1200px; /* Ширина блока */
    height: auto; /* Высота блока */
    /*width: 300px; !* Ширина блока *!*/
    /*height: 150px; !* Высота блока *!*/
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}

div[name = "splash"]
{
    font-family: arial; /*меняем шрифт*/
    font-size: 18px;
    /*display: block;*/
    /*padding: 14px;*/
    width: 400px;
    color: #fff;
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
}

li[name="ss"]
{

}
