.tab {
    overflow: hidden;
    margin-top: 15px;
    border: 1px solid #1a1440;
    background-color: #3157c8;
}


.tab button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #3157c8;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #12720e;
}


.tab button.active {
    background-color: #10555d;
    color: #fff;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4CAF50;
    background: #3395c8;
    border-top: none;
}
